* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.253), rgba(255, 208, 0, 0.685));
}

.header {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Syne Mono', monospace;
  background-color: rgba(255, 255, 255, 0.3);
}

.header__item {
  height: 100%;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__menu {
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding-right: 25px;
}

.header__menu span {
  right: 35px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__menu span, .header__menu span::before, .header__menu span::after {
  height: 2px;
  width: 20px;
  position: absolute;
  background-color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__menu span::before {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  content: '';
}

.header__menu span::after {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  content: '';
}

.header__menu:hover {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header__menu:active {
  background-color: rgba(255, 0, 0, 0.3);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.cell-container {
  position: relative;
  width: 630px;
  height: 630px;
  margin: 10px auto;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.3);
}

.cell {
  position: absolute;
  background-color: #c7c7c7;
  border-radius: 10px;
  border: 1px solid black;
  margin: 1px;
  font-size: 60px;
  font-family: 'Syne Mono', monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 2;
}

.empty {
  opacity: 0;
}

.hide {
  display: none;
}

.hovered {
  opacity: 0.5;
}

.hamburger-backdrop {
  position: absolute;
  top: 50px;
  right: 0;
  width: 0;
  height: calc(100% - 50px);
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  z-index: 3;
}

.closeHamburgerMenu {
  height: 100%;
  width: 50%;
}

.hamburger {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: blanchedalmond;
  text-align: center;
  z-index: 3;
}

.hamburger_item {
  position: relative;
  width: 80%;
  height: 40px;
  margin: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
}

.hamburger_item::before, .hamburger_item::after {
  height: 2px;
  width: 60%;
  background-color: black;
  position: absolute;
  content: "";
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.hamburger_item::after {
  top: 5px;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.hamburger_item::before {
  bottom: 5px;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.hamburger_item:hover::before, .hamburger_item:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.hamburger-visible {
  width: 100%;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

.hamburger-visible .item-visible {
  font-size: 30px;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.popup-wrapper {
  display: none;
}

.popup-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
}

.popup {
  position: absolute;
  top: 10%;
  left: 10%;
  background-color: rgba(255, 255, 255, 0.8);
  width: 80%;
  height: 80%;
  z-index: 5;
  font-family: 'Syne Mono', monospace;
}

.popup-content {
  display: none;
}

.popup-content h2 {
  font-size: 35px;
  padding: 25px 0;
  text-align: center;
}

.popup-content p {
  margin: 15px;
  font-size: 30px;
}

.best-scores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 20px;
}

.setting-popup {
  text-align: center;
}

.setting-popup .select-box, .setting-popup .select-label, .setting-popup .image-box {
  font-size: 20px;
  margin-bottom: 15px;
}

.setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sound {
  margin-bottom: 10px;
  padding: 5px 10px;
}

.savedGames-popup ul {
  padding: 20px;
}

.closePopup {
  border: 1px solid black;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 40px;
  font-size: 40px;
  font-family: serif;
  position: absolute;
  top: 5px;
  right: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.closePopup:hover {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

@media screen and (max-width: 767px) {
  .header {
    font-size: 16px;
  }
  .header__item {
    -webkit-box-flex: 0.333;
        -ms-flex-positive: 0.333;
            flex-grow: 0.333;
    width: auto;
  }
  .header__menu {
    padding-right: 40px;
  }
  .header__menu span {
    right: 20px;
  }
  .hamburger {
    width: 70%;
  }
  .hamburger_item::before, .hamburger_item::after {
    width: 70%;
  }
  .closeHamburgerMenu {
    width: 30%;
  }
  .hamburger-visible .item-visible {
    font-size: 20px;
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
  }
  .popup-content {
    display: none;
  }
  .popup-content h2 {
    font-size: 20px;
  }
  .popup-content p {
    font-size: 16px;
  }
  .cell {
    font-size: 20px;
    width: 37.5px;
    height: 37.5px;
  }
  .cell-container {
    width: 99vw;
    height: 99vw;
  }
}
/*# sourceMappingURL=style.css.map */