









body{
    background-image: url(bg4.jpg);
    font-family: monospace;
    background-attachment: fixed;
}
*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.topH{
    font-size: 3rem;
        color: rgb(61, 61, 61);
        text-shadow: 0 1px 0 #ccc, 
        0 2px 0 #c9c9c9, 
        0 3px 0 #bbb, 
        0 4px 0 #b9b9b9, 
        0 5px 0 #aaa, 
        0 6px 1px rgba(0,0,0,.1), 
        0 0 5px rgba(0,0,0,.1), 
        0 1px 3px rgba(0,0,0,.3), 
        0 3px 5px rgba(0,0,0,.2), 
        0 5px 10px rgba(0,0,0,.25), 
        0 10px 10px rgba(0,0,0,.2), 
        0 20px 20px rgba(0,0,0,.15);
}



/*От этого момента*/




#slider { /*положение слайдера*/
    position: relative;
	text-align: center;
    top: 10px;
}

#slider{ /*центровка слайдера*/
	margin: 0 auto;
}

#slides article{ /*все изображения справа друг от доруга*/
	width: 20%;
	float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

article img{ /*размер изображений слайдера*/
	width: 100%;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
	max-width: 960px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
	background: url('prev.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: left;
	margin: 0 0 0 -84px; /*сдвиг влево*/
	display: block;
	height: 68px;
	width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
	background: url('next.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: right;
	margin: 0 -84px 0 0; /*сдвиг вправо*/
	display: block;
	height: 68px;
	width: 68px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}

#switch4:checked ~ #slides .image{
	margin-left: -300%;
}

#switch5:checked ~ #slides .image{
	margin-left: -400%;
}

#controls{ /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active{ /*расположение блока с переключателями*/
	margin: 23% 0 0;
	text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
	background: #76c8ff;
	border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

#slides .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}




/*До этого момента*/





.head-image{


    width: 100%;
    border-radius: 1%;
    
 
}

.top-menu .elementsmenu{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;

   
    
}
.top-menu .elementsmenu li{
    float: left;
    width: 15rem;
    min-height:5rem ;
    line-height: 5rem;
    text-align: center;
    font-size: 1.8rem;
    background: rgba(126, 227, 233, 0.8);
    margin-left: 2%;
    position: relative;
    margin-bottom: 5px;
   
}

h1{
    text-align: center;
    
    font-size:2rem;
}
.slide-toggle{
    left: 10px;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: 5rem;
    padding: 5px;
    cursor: pointer;
}
.slide-toggle:hover{
    background-color: rgba(255, 255, 255, 0.4) ;
}
.top-menu .elementsmenu li a{
    text-decoration: none;
    color: black;
    display: block;
    transition: all 0.3s ease;
  
}
.elementsmenu li a:hover{
    background-color: cadetblue;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
}

.elementsmenu li .addElements{
list-style: none;
padding: 0;
margin: 0;
position: absolute;
display: none;
}
.elementsmenu li .addElements li{
   border: 1px solid black;
   padding: 0;
   margin-top: 5px;
   background: rgb(126, 227, 233);
    }


.elementsmenu li:hover > .addElements {
    display: block;
}


.content-wrapper{
    margin-top: 2rem;
    margin-left: 12%; 
    margin-right: 12%;
    padding: 4%;
    background-color: rgba(255, 255, 255, 0.4);
    
    width: 77%;
    
    
}

.content-wrapper p{
    font-size: 1.5rem;
    margin-top: 2rem;
}
.rating{
    margin-top: 2rem;
    font-size: 1.5rem;
   
    
}
.rating-scale{
width: 50%;
position: relative
}

.scale{
    background-color: rgb(65, 94, 255);
    width: 1%;
    padding: 2rem;
    padding-left: 2%;
    padding-right: 2%;
    margin: 0;
    position: relative;
    transition: all 0.7s ease;
    
    
}
.scale:hover{
    background-color: springgreen;
    width: 90%;
    transition: all 0.7s ease;
}
.content-wrapper  ol, ul{
    margin-top: 2rem;
    margin-left: 3rem;
    font-size: 1.5rem;
}



.news-img{
    max-width: 100%;
}

.newsList{
    display: flex;
    
}
.newsA:hover{
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.4) ;
}
.allNews{
    display: flex;
    border-color: black;
    border: solid;
    margin-top: 4%;
    margin-left: 15%;
    margin-right: 15%;
}


.news{
    max-width: 48%;
    border-color: black;
    border: solid;
    padding: 2%;
    cursor: pointer;

}

.newsInfo1{
    display: none;
}
.newsInfo2{
    display: none;
}



.ratingInfo{
    display: none;
    position: relative;
}
.ratingPart{
    display: none;
    position: relative;
}
.ratingUp{
    display: none;
    position: relative;
}
.ratingFor{
    display: none;
    position: relative;
}
.popup {
    position: fixed;
    display: none;
  }
.popup-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.popup .popupRating{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 420px;
    background-color: white;
    opacity: 1;
    border-radius: 5px;
    padding: 20px;
    
    
}
.popupClose{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}
.cup{
    position: absolute;
    right: 14px;
    top: 80px;
    size: 50%;
    width: 100px;
    height: 100px;
}
.buttons {
    height: 30%;
    padding: 10px;
    margin: 10px;
    background:  rgba(126, 227, 233, 0.8);
    border-radius: 5px;
    cursor:pointer;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
    
   
    
}
.buttons:hover {
    background-color: aliceblue;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
}
a {
    text-decoration: none;
    color: black;
    
}

.data-base{
    margin-top: 1%;
    margin-left: 12%; 
    margin-right: 12%;
    padding: 4%;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    width: 75%;  
    display: none; 
}
.form-creation{
    margin-top: 1%;
    margin-left: 12%; 
    margin-right: 12%;
    padding: 4%;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    width: 75%;  
    display: none; 
}
.create-queries{
    margin-top: 1%;
    margin-left: 12%; 
    margin-right: 12%;
    padding: 4%;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    width: 75%;  
    display: none; 
}
.creating-media-objects{
    margin-top: 1%;
    margin-left: 12%; 
    margin-right: 12%;
    padding: 4%;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    width: 75%;  
    display: none; 
}
.computer-presentations{
    margin-top: 1%;
    margin-left: 12%; 
    margin-right: 12%;
    padding: 4%;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    width: 75%;  
    display: none; 
}

.newsA:hover{
    background-color: rgba(255, 255, 255, 0.4);
   
}


.topics:hover {
    font-size: larger;
    cursor: pointer;
}
@media only screen and (max-width : 800px) {
    .top-menu .elementsmenu{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
    
       max-width: 99%;
        
    }
    .top-menu .elementsmenu li{
        float: left;
        width: 15rem;
        min-height:5rem ;
        line-height: 5rem;
        text-align: center;
        font-size: 80%;
        background: rgba(126, 227, 233, 0.8);
        position: relative;
        margin: 0;
        
        margin-bottom: 5px;

       
    }
    .elementsmenu li .addElements{
        list-style: none;
        padding: 0;
        
         
        position: absolute;
        display: none;
        }
        .elementsmenu li .addElements li{
           border: 1px solid black;
           padding: 0;
           margin-top: 5px;
           background: rgb(126, 227, 233);
           width: 50%; float: left;
            }
        
        
        .elementsmenu li:hover > .addElements {
            display: block;
        }
    .feedback{ 
        display: none;
    }
    .content-wrapper{
        margin: 0;
        margin-top: 2rem;
     
        padding: 4%;
        background-color: rgba(255, 255, 255, 0.4);
        
        width: 99%;
        
        
    }
    h1{
        text-align: center;
        font-size:1.5rem;
    }
}
